nav {
    background: linear-gradient(280deg, rgb(135, 173, 139) 20%, rgb(164, 214, 169) 40%, rgb(197, 238, 197) 100%);

    /* margin-bottom: 20px; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 10px double rgb(0, 0, 0);
    position: sticky;
    top: 0;
    z-index: 10;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

li {
    list-style: none;
    margin: 10px;
    font-size: large;
}

.link {
    text-decoration: none;
    color: white;
    padding: 5px;
}



.link:active {
    background-color: rgba(0, 0, 0, 0.425);
    /* padding: 5px; */
    border-radius: 12px;
}

.link:hover li {
    font-size: 150%;
}

nav img {
    width: 64px;
    height: 64px;
}

@media (max-height: 650px) {
    nav {
        position: relative;
    }
}